<% title "Messages" %>

<% for rm in @received_messages %>
	<div id="message">
		<%= content_tag :h5, "#{rm.recipient.name}," %><%= content_tag :p, rm.content %><%= content_tag :h5, rm.sender.name %>
	</div>
<% end %>
<% for sm in @sent_messages %>
	<div id="message">
		<%= content_tag :h5, "#{sm.recipient.name}," %><%= content_tag :p, sm.content %><%= content_tag :h5, sm.sender.name %>
	</div>
<% end %>

<% content_for :context_menu do %>
	<% if signed_in? && current_user.member_of?(@alliance) %>
		<%= link_to "New Message", new_alliance_message_path %>
	<% end %>
<% end %>