<% title "Messages" %>
<%= content_tag :h6, "You are not permitted to view messages for this resource." unless @authorized %>
<%= content_tag :h6, "No messages to display." if @messages.empty? %>
<% for m in @messages %>
	<div id="message">
		<%= link_to "X", polymorphic_path([@messagable, m]), :confirm => 'Are you sure?', :method => :delete, :id => "message_link" %>
		<%= content_tag :p, m.content %>
		<%= content_tag :h2, link_to( m.user.name, users_path(m.user)) %>
	</div>
<% end %>
<% if @messagable.class == User %>
	<%= content_tag :h1, "Sent Messages" %>
	<%= content_tag :h6, "No messages to display." if @sent_messages.empty? %>
	<% for m in @sent_messages %>
		<div id="message">
			<%= link_to "X", polymorphic_path([@messagable, m]), :confirm => 'Are you sure?', :method => :delete, :id => "message_link" %>
			<%= content_tag :p, m.content %>
			<%= content_tag :h2, link_to( m.user.name, users_path(m.user)) %>
		</div>
	<% end %>
<% end %>

<% content_for :context_menu do %>
	<% if signed_in? && current_user.member_of?(@alliance) %>
		<%= link_to "New Message", new_alliance_message_path %>
	<% end %>
<% end %>