<%= content_tag :h2, "GuildHail user since:" %>
<%= content_tag :p, "#{@user.created_at.strftime('%B %d, %Y')}" %>
<% unless @user.alliances.empty? %>
	<h2>Member of</h2>
	<ul>
	<% @user.alliances.each do |a| %>
		<li><b><%= link_to a.name, alliance_path(a) %></b><%= " since #{a.created_at.strftime('%B %d, %Y')}" %></li>
		
	<% end %>
	</ul>
<% end %>
<% unless @user.owned_alliances.empty? %>
<h2>Owner of</h2>
	<ul>
	<% @user.owned_alliances.each do |oa| %>
		<li><b><%= link_to oa.name, alliance_path(oa) %></b><%= " since #{oa.created_at.strftime('%B %d, %Y')}" %></li>
	<%end%>
	</ul>
<% end %>
<br/>
<p><%= link_to "Edit Profile", edit_user_registration_path if @user == current_user %></p>

<% content_for :context_menu do %>
	<% if signed_in? %>
		<%= link_to "Send Message to #{@user.name}", new_user_message_path(@user) unless @user == current_user %>
		<% current_user.owned_alliances.each do |a| %>
			<%= link_to "Invite #{@user.name} to #{a.name}", { :controller => "invitations", :action => "new", :alliance_id => a.id, :user_id => @user.id } unless @user.member_of?(a) || Invitation.exists_for?(@user, a) %>
		<% end %>
		
	<% end %>
<% end %>
