<div class="invitation">
	<%= content_tag :h2, "#{i.recipient.name}," %>
	"<%= i.message %>"
	<%= content_tag :h2, "-#{i.sender.name}" %>
	<% if i.recipient == current_user %>
		<%= link_to "Accept", { :controller => :memberships, :action => :create, :invitation_id => i.id }, :method => :post %> | 
		<%= link_to "Decline", i, :confirm => 'Are you sure?', :method => :delete %> invitation to <%= i.alliance.name %>.
	<% end %>
</div>
