<% title "New Invitation" %>

<%= form_for @invitation do |f| %>
  <%= f.error_messages %>
  	<%= f.label :message %>
  	<%= f.text_field :message%>
	<%= hidden_field_tag :user_id, params[:user_id] %>
	<%= hidden_field_tag :alliance_id, params[:alliance_id] %>
  <p><%= f.submit %></p>
<% end %>


<p><%= link_to "Back to List", invitations_path %></p>
