<%= content_tag :h2, "Founded On" %>
<%= content_tag :p, "#{@alliance.created_at.strftime('%B %d, %Y')}" %>

<%= content_tag :h2, "Members" %>
<table>
	<tr>
		<th>Name</th>
		<th>Since</th>
	</tr>
	<tr>
	<% @users.each do |u| %>
		<td><%= link_to u.name, user_path(u) %></td>
		<td><%= u.memberships.find_by_alliance_id(@alliance.id).created_at.strftime('%B %d, %Y')%></td>
	<% end %>
	</tr>
</table>

<p>
  <% if can? :update, @alliance %><%= link_to "Edit", edit_alliance_path(@alliance) %> |<% end %>
  <% if can? :destroy, @alliance %><%= link_to "Destroy", @alliance, :confirm => 'Are you sure?', :method => :delete %> |<% end %>
  <%= link_to "View All", alliances_path %>
</p>

<% content_for :context_menu do %>
	<% if signed_in? && current_user.member_of?(@alliance) %>
		<%= link_to "View Feed", alliance_messages_path(@alliance) %>
	<% end %>
<% end %>